body {
  margin: 0;
  padding: 0;
  /* user-select: none; */ /* Prevent text selection */
  caret-color: transparent;
}
html,body {
  height: 100%; /* Rende l'altezza della pagina 100% */
  margin: 0;
}

main {
  min-height: 100vh; /* Imposta la minima altezza per il main in modo che il footer resti sempre in fondo */
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto; /* Forza il footer a spostarsi verso il basso, dopo il contenuto principale */
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

/* Remove arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows in Firefox and Brave */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input {
  caret-color: black;
}

.badge-status-warning {
    background-color: #facc15; /* yellow-400 */
    color: white;
}

.badge-status-indigo-600 {
    background-color: #5a67d8; /* indigo-600 */
    color: white;
}

.badge-status-success {
    background-color: #22c55e; /* green-500 */
    color: white;
}

.badge-status-danger {
    background-color: #ef4444; /* red-500 */
    color: white;
}

.badge {
    padding: 0.25em 0.6em;
    font-size: 0.875em;
    border-radius: 0.25rem;
    display: inline-block;
    font-weight: 500;
}
